header{
    position: relative;
    width: 100%;
    height: 400px;
}

#headerBackgroundFoto {
    position: relative;
    background-image: url(Backgroundphoto/Backgroundphoto.jpg);
    background-size: cover;
    background-position: center;
    height: 1080px;
    width: 1920px;
    z-index: 1;
}
#headerBackgroundGray{
    position: relative;
    background-color: #F5F6FA;
    height: 490px;
    width: 1920px;
    z-index: 1;
}

#headerIntro{
top: 0px;
left: 0px;
width: 1920;
height: 135px;
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 6px #00000029;
opacity: 1;
}

#textHeader1{
    padding-top: 53px;
    padding-left: 467px;
    height: 23px;
    text-align: left;
    font: normal normal bold 20px/23px arial;
    letter-spacing: 0px;
    color: #2A2A72;
    opacity: 1;
    float: left;
}
#textHeader2{
    padding-top: 53px;
    padding-left: 72px;
    height: 23px;
    text-align: left;
    font: normal normal bold 20px/23px arial;
    letter-spacing: 0px;
    color: #2A2A72;
    opacity: 1;
    float: left;
}
#textHeader3{
    padding-top: 53px;
    padding-left: 72px;
    height: 23px;
    text-align: left;
    font: normal normal bold 20px/23px arial;
    letter-spacing: 0px;
    color: #2A2A72;
    opacity: 1;
    float: left;
}
#textHeader4{
    padding-top: 53px;
    padding-left: 72px;
    height: 23px;
    text-align: left;
    font: normal normal bold 20px/23px arial;
    letter-spacing: 0px;
    color: #2A2A72;
    opacity: 1;
    float: left;
}

.logo{
    float:left;
    padding-left: 140px;
    padding-top: 30px;
    width: 344px;
    height: 75px;
}

#buttonLogin1{
    margin-top: 38px;
    margin-left: 48px;
    width: 195px;
    height: 60px;
    font: normal normal bold 20px/23px arial;
    color: white;
    background: #2A2A72 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 12px;
    opacity: 1;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

#textHeader5{
    padding-top: 272px;
    padding-left: 478px;
    height: 70px;
    width: 964px;
    text-align: center;
    font: normal normal bold 60px/70px arial;
    letter-spacing: 0px;
    color: white;
    opacity: 1;
    float: left;
}
#textHeader6{
    padding-top: 32px;
    padding-left: 557px;
    height: 60px;
    width: 806px;
    text-align: center;
    font: normal normal bold 24px/60px arial;
    letter-spacing: 0px;
    color: white;
    opacity: 1;
    float: left;
    line-height: 1.2;
}

#buttonLogin2{
    margin-top: 65px;
    margin-left: 863px;
    width: 195px;
    height: 60px;
    font: normal normal bold 20px/23px arial;
    color: white;
    background: #2A2A72 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 12px;
    opacity: 1;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

.table{
    position: absolute;
    top: 0;
    padding-top: 802px;
    padding-left: 278px;
    z-index: 2;
    width: 1364px;
    height: 764px;
    object-fit: cover;
    cursor: pointer;
}






#mid{
    background-color: #F5F6FA;
    height: 2000px;
    width: 100%;
}


#top {
    top: 2395px;
    left: 0px;
    width: 100%;
    height: 915px;
    background: #F5F6FA  0% 0% no-repeat padding-box;
    opacity: 1;
}

.first {
transform: translate(-50%, -50%);
left: 50%;
margin-top:20px;
position: absolute;
display: flex;
justify-content: center;
align-items: center;
width: 100%;
height: 28px;
text-align: center;
font: normal normal bold 24px/28px Arial;
letter-spacing: 0px;
color: #2A2A72;
text-transform: uppercase;
opacity: 1;

}

p {
    transform: translate(-50%, -50%);
    left: 50%;
    margin-top:90px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 37px;
    text-align: center;
    font: normal normal normal 32px/37px Arial;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    }

.second {
    transform: translate(-50%, -50%);
    left: 50px;
    margin-top:-150px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 174px;
    height: 28px;
    text-align: left;
    font: normal normal bold 24px/28px Arial;
    letter-spacing: 0px;
    color: #2A2A72;
    opacity: 1;
}

.third {
    transform: translate(-50%, -50%);
    left: 100px;
    margin-top:-150px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 174px;
    height: 28px;
    text-align: left;
    font: normal normal bold 24px/28px Arial;
    letter-spacing: 0px;
    color: #2A2A72;
    opacity: 1;
}

.fourth {
    transform: translate(-50%, -50%);
    left: 65px;
    margin-top:-150px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 174px;
    height: 28px;
    text-align: left;
    font: normal normal bold 24px/28px Arial;
    letter-spacing: 0px;
    color: #2A2A72;
    opacity: 1;
}



#square1full {
    transform: translate(-50%, -50%);
    left: 25%;
    margin-top:550px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 530px;
    height: 571px;
    float: left;
}


#square1 {
    transform: translate(-50%, -50%);
    left: 50%;
    margin-top:550px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 530px;
    height: 397px;
    z-index: 1;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 12px;
    opacity: 1; 
    float: left;
    background-color: white;
    padding-top: 60px;
}

#square2full {
    transform: translate(-50%, -50%);
    left: 50%;
    margin-top:550px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 530px;
    height: 571px;
    float: left;
}


#square2 {
    transform: translate(-50%, -50%);
    left: 50%;
    margin-top:550px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 700px;
    height: 397px;
    background: white 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 12px;
    opacity: 1;
    float: left;
    z-index: 1;
    position: relative;
    padding-top: 60px;
    
    
    }

    .ziutek {   
        transform: translate(-50%, -50%);
        left: 50%;
        margin-top:80px;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 0px;
        z-index: 2;
        object-fit: cover;
        cursor: pointer;
        left: 50% ;
    }

    #square3full {
        transform: translate(-50%, -50%);
        left: 75%;
        margin-top:550px;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 530px;
        height: 571px;
        float: left;
    }
    


    #square3 {
        transform: translate(-50%, -50%);
        left: 50%;
        margin-top:550px;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
    position: relative;
    width: 531px;
    height: 397px;
    background: white 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 12px;
    opacity: 1;
    float: left;
    padding-top: 60px;
    }


    .operator {
        transform: translate(-50%, -50%);
        left: 50%;
        margin-top:80px;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 0px;
        z-index: 2;
        object-fit: cover;
        cursor: pointer;
        left: 50% ;
    }
    


.krzysiu {
    transform: translate(-50%, -50%);
    left: 50%;
    margin-top:80px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0px;
    z-index: 2;
    object-fit: cover;
    cursor: pointer;
    left: 50% ;
}



.pf, .ps , .pt {
    padding-left: 30px;
    text-align: left;
    font: normal normal medium 20px/28px Arial;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    font-size: 25px;
}

button {
    transform: translate(-50%, -50%);
    left: 50%;
    margin-top:290px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    background: #2A2A72 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 12px;
    opacity: 1;
    width: 180px;
}

h2 {
text-align: center;
font: normal normal bold 20px/23px Arial;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
}

#down {
    top: 4202px;
    left: 0px;
    width: 100%;
    height: 300px;  
    background: #2A2A72 0% 0% no-repeat padding-box;
    opacity: 1;
}


#name1 {
    transform: translate(-50%, -50%);
    left: 40%;
    margin-top:140px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 52px;
    height: 23px;
    text-align: center;
    font: normal normal medium 20px/28px Arial;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    float: left;
    }

    #name2 {
        transform: translate(-50%, -50%);
        left: 45%;
        margin-top:140px;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 52px;
        height: 23px;
        text-align: center;
        font: normal normal medium 20px/28px Arial;
        letter-spacing: 0px;
        color: #FFFFFF;
        opacity: 1;
        float: left;
        }

    #name3 {
        transform: translate(-50%, -50%);
        left: 50%;
        margin-top:140px;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 52px;
        height: 23px;
        text-align: center;
        font: normal normal medium 20px/28px Arial;
        letter-spacing: 0px;
        color: #FFFFFF;
        opacity: 1;
        float: left;
    }

    #name4 {
        transform: translate(-50%, -50%);
        left: 55%;
        margin-top:140px;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 52px;
        height: 23px;
        text-align: center;
        font: normal normal medium 20px/28px Arial;
        letter-spacing: 0px;
        color: #FFFFFF;
        opacity: 1;
        float: left;
        }

#name5 {
    transform: translate(-50%, -50%);
    left: 60%;
    margin-top:140px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 190px;
    height: 23px;
    text-align: center;
    font: normal normal medium 20px/28px Arial;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    float: left;
}

.second_image {
    transform: translate(-50%, -50%);
    left: 50%;
    margin-top:50px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 77px;
    width: 354px;
    float: left;
}

    hr {
        transform: translate(-50%, -50%);
    left: 50%;
    margin-top:200px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
       width: 1920px;
    }

    .third_image {
    padding-left: 140px;
    width: 94px;
    height: 40px;
    float: left;
    }

#tekstt {
padding-left: 24px;
width: 237px;
height: 22px;
text-align: left;
font: normal normal medium 18px/22px Arial;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
float: left;

}

#footer2 {
    background-color: #2A2A72;
    width: 100%;
    height: 114px;
}

.czwarty_image {
padding-right: 100px;
float: right;
width: 32px;
height: 32px;
}

.piaty_image {
padding-right: 100px;
float: right;

}

.szosty_image {
padding-right: 100px;
float: right;
}