body{
    height: 100%;
}

header{
    position: relative;
    width: auto;
    height: 1570px;
}

#headerBackgroundFoto {
    position: relative;
    background-image: url(Backgroundphoto/Backgroundphoto.jpg);
    background-size: cover;
    background-position: center;
    height: 68.79%;
    width: 100%;
    z-index: 1;
}
#headerBackgroundGray{
    position: relative;
    background-color: #F5F6FA;
    height: 50.21%;
    width: 100%;
    z-index: 1;
}

#headerIntro{
position: relative;
width: auto;
height: 135px;
background: #FFFFFF;
opacity: 1;
}

#headerBlue{
position: relative;
opacity: 1;
background-size: cover;
background-position: center;
}

#textHeader1{
	margin-left:3%;
	margin-top:56px;
	display: flex;
	justify-content: center;
	align-items: center;
    text-align: left;
    font: normal normal bold 20px/23px arial;
    letter-spacing: 0px;
    color: #2A2A72;
    opacity: 1;
    float: right;
}
#textHeader2{
	margin-left:3%;
	margin-top:56px;
	display: flex;
	justify-content: center;
	align-items: center;
    text-align: left;
    font: normal normal bold 20px/23px arial;
    letter-spacing: 0px;
    color: #2A2A72;
    opacity: 1;
    float: right;
}
#textHeader3{
	margin-left:3%;
	margin-top:56px;
	display: flex;
	justify-content: center;
	align-items: center;
    text-align: left;
    font: normal normal bold 20px/23px arial;
    letter-spacing: 0px;
    color: #2A2A72;
    opacity: 1;
    float: right;
}
#textHeader4{
	margin-left:3%;
	margin-top:56px;
	display: flex;
	justify-content: center;
	align-items: center;
    text-align: left;
    font: normal normal bold 20px/23px arial;
    letter-spacing: 0px;
    color: #2A2A72;
    opacity: 1;
    float: right;
}

.logo{
	margin-left:7%;
	margin-top:22px;
	display: flex;
	justify-content: center;
	align-items: center;
    float:left;
    max-width: auto;
    height: auto;

}

#buttonLogin1{
	width: 195px;
    height: 60px;
    margin-right:3%;
	margin-left:2.5%;
	margin-top:38px;
	display: flex;
	justify-content: center;
	align-items: center;
    font: normal normal bold 20px/23px arial;
    color: white;
    background: #2A2A72 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 12px;
    opacity: 1;
    float: right;
}





#textHeader5{
    transform: translate(-50%, -50%);
    left: 50%;
    position: absolute;
	margin-top:272px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	width:964px;
    font: normal normal bold 60px/70px arial;
    letter-spacing: 0px;
    color: white;
    opacity: 1;
    float: left;
}
#textHeader6{
    transform: translate(-50%, -50%);
    left: 50%;
    position: absolute;
	margin-top:350px;
	display: flex;
	justify-content: center;
	align-items: center;
    text-align: center;
	width:964px;
    font: normal normal bold 24px/60px arial;
    letter-spacing: 0px;
    color: white;
    opacity: 1;
    float: left;
    line-height: 1.2;
	clear: left;
}

#marginbuttonLogin2{
    transform: translate(-50%, -50%);
    left: 50%;
    position: absolute;
	margin-top:250px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#buttonLogin2{
    transform: translate(-50%, -50%);
    position: absolute;
	margin-top:450px;
	display: flex;
	justify-content: center;
	align-items: center;
    width: 195px;
    height: 60px;
    font: normal normal bold 20px/23px arial;
    color: white;
    background: #2A2A72 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 12px;
    opacity: 1;
    float: left;
	clear: left;
}

.table{
    display: flex;
	justify-content: center;
	align-items: center;
    position: absolute;
    padding-top: -10px;
    z-index: 2;
    width: 1364px;
    height: 764px;
    object-fit: cover;
    cursor: pointer;
    transform: translate(-50%, -50%);
    left: 50%;
}
















#top {
    top: 2395px;
    left: 0px;
    width: 1920px;
    height: 915px;
    background: #F5F6FA  0% 0% no-repeat padding-box;
    opacity: 1;
}



.first {
top: 3422px;
left: 903px;
width: 100%;
height: 28px;
text-align: center;
font: normal normal bold 24px/28px Arial;
letter-spacing: 0px;
color: #2A2A72;
text-transform: uppercase;
opacity: 1;

}

.second {
    top: 3835px;
    left: 173px;
    width: 68px;
    height: 28px;
    text-align: left;
    font: normal normal bold 24px/28px Arial;
    letter-spacing: 0px;
    color: #2A2A72;
    opacity: 1;
}

.third {
    top: 3835px;
    left: 727px;
    width: 174px;
    height: 28px;
    text-align: left;
    font: normal normal bold 24px/28px Arial;
    letter-spacing: 0px;
    color: #2A2A72;
    opacity: 1;
}

.fourth {
    top: 3835px;
    left: 1281px;
    width: 100px;
    height: 28px;
    text-align: left;
    font: normal normal bold 24px/28px Arial;
    letter-spacing: 0px;
    color: #2A2A72;
    opacity: 1;
}

p {
top: 3482px;
left: 758px;
width: 100%;
height: 37px;
text-align: center;
font: normal normal normal 32px/37px Arial;
letter-spacing: 0px;
color: #000000;
opacity: 1;
}

#square1full {
    position: relative;
    width: 530px;
    height: 571px;
    float: left;
}

#square150 {
left: 140px;
width: 530px;
height: 174px;
position: relative;
background-color: #F5F6FA ;
z-index: 1;
}

#square1 {
    left: 140px;
    width: 530px;
    height: 397px;
    z-index: 1;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 12px;
    opacity: 1; 
    float: left;
    position: relative;
    background-color: white;
    padding-top: 60px;
}

#square2full {
    position: relative;
    width: 530px;
    height: 571px;
    float: left;
}

#square250 {
    left: 168px;
    width: 530px;
    height: 174px;
    position: relative;
    z-index: 1;
    background-color: #F5F6FA;
}



#square2 {
    left: 170px;
    width: 531px;
    height: 397px;
    background: white 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 12px;
    opacity: 1;
    float: left;
    z-index: 1;
    position: relative;
    padding-top: 60px;
    
    
    }

    .ziutek {
        position: absolute;
        top: 0px;
        z-index: 2;
        object-fit: cover;
        cursor: pointer;
        left:295px ;
    }

    #square3full {
        position: relative;
        width: 530px;
        height: 571px;
        float: left;
    }
    
    #square350 {
        left: 168px;
        width: 530px;
        height: 174px;
        position: relative;
        z-index: 1;
        background-color: #F5F6FA;
    }

    #square3 {
    left: 200px;
    position: relative;
    width: 531px;
    height: 397px;
    background: white 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 12px;
    opacity: 1;
    float: left;
    padding-top: 60px;
    }


    .operator {
        position: absolute;
        top: 0px;
        z-index: 2;
        object-fit: cover;
        cursor: pointer;
        left:330px ;
    }
    


.krzysiu {
    position: absolute;
    z-index: 2;
    top: 0px;
    object-fit: cover;
    cursor: pointer;
    left: 295px;
}



.pf, .ps , .pt {
    text-align: left;
    font: normal normal medium 20px/28px Arial;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    font-size: 25px;
}

button {
height: 60px;
background: #2A2A72 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 6px #00000029;
border-radius: 12px;
opacity: 1;
margin-left: 160px;
margin-top: 170px;
width: 180px;


}

h2 {
text-align: center;
font: normal normal bold 20px/23px Arial;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
}

#down {
    top: 4202px;
    left: 0px;
    width: 1920px;
    height: 300px;  
    background: #2A2A72 0% 0% no-repeat padding-box;
    opacity: 1;
    }




    #name2 {
        padding-top: 64px;
        padding-left: 112px;
        width: 52px;
        height: 23px;
        text-align: center;
        font: normal normal medium 20px/28px Arial;
        letter-spacing: 0px;
        color: #FFFFFF;
        opacity: 1;
        float: left;
        }

    #name3 {
        padding-top: 64px;
        padding-left: 112px;
        width: 52px;
        height: 23px;
        text-align: center;
        font: normal normal medium 20px/28px Arial;
        letter-spacing: 0px;
        color: #FFFFFF;
        opacity: 1;
        float: left;
    }

    #name4 {
        padding-top: 64px;
        padding-left: 112px;
        width: 52px;
        height: 23px;
        text-align: center;
        font: normal normal medium 20px/28px Arial;
        letter-spacing: 0px;
        color: #FFFFFF;
        opacity: 1;
        float: left;
        }
#name5 {
    padding-top: 64px;
    padding-left: 112px;
    width: 150px;
    height: 23px;
    text-align: center;
    font: normal normal medium 20px/28px Arial;
    letter-spacing: 0px;
    color: #FFFFFF;
    float: left;
    opacity: 1;
            }
.second_image {
    padding-top:64px ;
    margin-left:783px ;
    height: 77px;
    width: 354px;
    float: left;
    padding-right: 783px;
}


#name1 {
    padding-top: 64px;
    padding-left: 526px;
    width: 52px;
    height: 23px;
    text-align: center;
    font: normal normal medium 20px/28px Arial;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    float: left;
  
    }

    hr {
       width: 1920px;
       top: 10px;
    }

    .third_image {
    padding-left: 140px;
    width: 94px;
    height: 40px;
    float: left;
    }
#tekstt {
padding-left: 24px;
width: 237px;
height: 22px;
text-align: left;
font: normal normal medium 18px/22px Arial;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
float: left;

}

#footer2 {
    background-color: #2A2A72;
    width: 1920px;
    height: 114px;
}

.czwarty_image {

padding-left: 1140px;
float: left;
width: 32px;
height: 32px;
}

.piaty_image {
padding-left: 32px;
float: left;

}

.szosty_image {
padding-left: 32px;
float: left;
}

